* {
  padding: 0;
  margin: 0;
}

body {
  color: #8e44ad;
}

div.line {
  height: 17px;
}

div.cell {
  display: inline-block;
  width: 15px;
  height: 15px;
}

div.cell div {
  width: 100%;
  height: 100%;
}

div.cell div.empty {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
}

div.cell div.conductor {
  background-color: #f1c40f;
  border: 1px solid #f39c12;
}

div.cell div.head {
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
}

div.cell div.tail {
  background-color: #3498db;
  border: 1px solid #2980b9;
}

button {
  margin: 5px;
  padding: 4px 20px;
}